<!DOCTYPE html>
<html>
<head>
	<meta http_equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Benjamin Lang</title>
  <%= stylesheet_link_tag "layout", "c1" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery-1.6.2.min.js" %>
</head>
<body>
	<div id="body_wrap">
		<div id="logo_container">
			<a href="/"><span class="black_bkg green_text" id="logo_text">benjamin<span class="white_text">lang</span>photography</span></a>
		</div>
		<div id="top_nav_container" class="nav_container">
			<ul id="top_nav_list">
			<% @PTs.each do |project_type| %>
				<li>
					<%= link_to project_type.name, '/' + project_type.name, :class => 'nav_a' %>
				</li>
			<% end %>
			</ul>
		</div>
		<div id="content_wrap">
			<%= yield %>
		</div>
	</div>
</body>
</html>
